<div class="row masonry-container">
  <% @articles.each do |article| %>
    <div class="item col-lg-4 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3><%= link_to article.title, article_path(article) %></h3>
        </div>
        <div class="panel-body">
          <p><%= article.body.html_safe %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
