<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @mail_user.name %></h1>
    <p>
      You've just subscribed to our mailing list.

      PS. Vaata, kes on kirja saatja :)
    </p>
  </body>
</html>